/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); */

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

/*
html {
  font-family: "Muli, sans-serif";
} */

.container-challenge-2 {
  display: flex;
  min-height: 100vh;
}

.challenge-2 {
  margin: auto;
  text-align: center;
}

.progress-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 30px;
}

.progress-container::before {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--line-border-empty);
  z-index: -1;
}

.progress {
  width: 0%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--line-border-fill);
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--line-border-empty);
  background-color: #fff;
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  margin: 5px;
  padding: 8px 30px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

@media (max-width: 480px) {
  .progress-container {
    width: 250px;
  }
}