:root {
  --primary-color: rgb(29, 26, 26);
  --secondary-color: rgb(18, 146, 163);
}

header {
  min-height: 15vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

header nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: white;
}

header nav div {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li form label input {
  margin-left: 5px;
}

main {
  min-height: 80vh;
  overflow-y: scroll;
}

footer {
  height: 5vh;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}